

.aboutContainer {
  width: 100%;
  max-height: 100%;
  position: relative;
  background-image: url("../images/Dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  }


.aboutContainerWrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutWrapper {
  margin-top: 0.125rem;
  margin-bottom: 0.625rem;
  
}


.aboutTitle {
  position: relative;
  margin-left: .75rem;
  top: 1rem;
  color: cornsilk;
  background: -webkit-linear-gradient(#AE8625, #F7EF8A, #D2AC47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Rampart One', sans-serif;
  font-size: 3.5rem;
  /* z-index: 3; */
  overflow: hidden;
}
  @media screen and (min-width: 48em) {
    .aboutTitle {
      font-size: 4rem;
  }
}
  @media screen and (min-width: 64em) {
    .aboutTitle {
      font-size: 4.25rem;
      margin-left: 3rem;
  }
}
  @media screen and (min-width: 90em) {
    .aboutTitle {
      font-size: 4.5rem;
      margin-left: 7rem;
  }
}
  @media screen and (min-width: 160em) {
    .aboutTitle {
      font-size: 5rem;
      margin-left: 30rem;
  }
}



.resume {
  width: 90vw;
  height: 75vh;
  position: relative;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .25px solid cornsilk;
  border-radius: 3px;
}
  @media screen and (min-width: 17.5em) {
    .resume {
      width: auto;
      height: auto;
  }
}
  @media screen and (min-width: 48em) {
    .resume {
      margin-left: 1rem;
      margin-right: 1rem;
  }
}
  @media screen and (min-width: 64em) {
    .resume {
      margin-left: 4rem;
      margin-right: 4rem;
  }
}
  @media screen and (min-width: 90em) {
    .resume {
      margin-left: 8rem;
      margin-right: 8rem;
  }
}
  @media screen and (min-width: 160em) {
    .resume {
      margin-left: 30rem;
      margin-right: 30rem;
  }
}


.objective {
  width: 80vw;
  height: 75vh;
  margin: .25rem .25rem .25rem .25rem;
  border-radius: 5px;
  padding: 1rem;
  border: .35px dashed cornsilk;
}

  @media screen and (min-width: 17.5em) {
    .objective {
      width: auto;
      height: auto;
  }
}


.pObjective {
  font-size: .5rem;
  color: cornsilk;
  text-indent: 1.875rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 0.625rem;
  }
    @media screen and (min-width: 24.375em) {
      .pObjective {
        font-size: .65rem;
    }
  }
    @media screen and (min-width: 48em) {
      .pObjective {
        font-size: .75rem;
    }
  }
 

.txtCertifications {
  color: cornsilk;
  font-size: .65rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}
  @media screen and (min-width: 24.375em) {
    .txtCertifications {
      font-size: .75rem;
  }
}
  @media screen and (min-width: 48em) {
    .txtCertifications {
      font-size: .85rem;
  }
}


.certList {
  font-size: .5rem;
  color: cornsilk;
  margin-left: 0.625rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
  @media screen and (min-width: 24.375em) {
    .certList {
      font-size: .65rem;
  }
}
  @media screen and (min-width: 48em) {
    .certList {
      font-size: .75rem;
  }
}


.txtEducation {
  color: cornsilk;
  font-size: .65rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  text-align: center;
}
  @media screen and (min-width: 24.375em) {
    .txtEducation {
      font-size: .75rem;
  }
}
  @media screen and (min-width: 48em) {
    .txtEducation {
      font-size: .85rem;
  }
}


.education {
  margin-top: 1.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.educationList {
  font-size: .5rem;
  color: cornsilk;
  margin-left: 0.625rem;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
  @media screen and (min-width: 24.375em) {
    .educationList {
      font-size: .65rem;
  }
}
  @media screen and (min-width: 48em) {
    .educationList {
      font-size: .75rem;
  }
}


.resumeLink {
  color: #F7EF8A;
  margin-left: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: .75rem;
}
  @media screen and (min-width: 24.375em) {
    .resumeLink {
      font-size: .95rem;
  }
}
  @media screen and (min-width: 48em) {
    .resumeLink {
      font-size: 1.25rem;
  }
}

.resumeLink:visited {
  color: #AE8625;
}

.resumeLink:hover {
  color: cornsilk;
}


.portfolioLink {
  color: #F7EF8A;
  margin-right: 0.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: .75rem;
}
  @media screen and (min-width: 24.375em) {
    .portfolioLink {
      font-size: .95rem;
  }
}
  @media screen and (min-width: 48em) {
    .portfolioLink {
      font-size: 1.25rem;
  }
}

.portfolioLink:visited {
  color: #AE8625;
}

.portfolioLink:hover {
  color: cornsilk;
}

