
* {
  user-select: none;
}


.aboutContainer {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/Dark.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.aboutWrapper {
  /* width: 100%;
  height: 100vh; */
  position: relative;
  

}


.aboutTitle {
  position: relative;
  margin-left: 1rem;
  top: 1rem;
  color: cornsilk;
  background: -webkit-linear-gradient(#AE8625, #F7EF8A, #D2AC47);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Rampart One', sans-serif;
  font-size: 3.5rem;
  z-index: 3;
}
  @media screen and (min-width: 768px) {
    .aboutTitle {
      font-size: 5rem;
  
  }
}
  @media screen and (min-width: 1024px) {
    .aboutTitle {
      font-size: 6rem;
      margin-left: 3rem;
  }
}
  @media screen and (min-width: 1440px) {
    .aboutTitle {
      font-size: 8rem;
      margin-left: 7rem;
  }
}
  @media screen and (min-width: 2560px) {
    .aboutTitle {
      font-size: 10rem;
      margin-left: 14rem;
  }
}



.resume {
  width: 90vw;
  height: 75vh;
  position: relative;
  margin: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: .25px solid cornsilk;
  border-radius: 3px;
}
  @media screen and (min-width: 280px) {
    .resume {
      width: auto;
      height: auto;
  }
}
  @media screen and (min-width: 768px) {
    .resume {
      margin-left: 1rem;
      margin-right: 1rem;
  }
}
  @media screen and (min-width: 1024px) {
    .resume {
      margin-left: 4rem;
      margin-right: 4rem;
  }
}
  @media screen and (min-width: 1440px) {
    .resume {
      margin-left: 8rem;
      margin-right: 8rem;
  }
}
  @media screen and (min-width: 2560px) {
    .resume {
      margin-left: 15rem;
      margin-right: 15rem;
  }
}


.objective {
  width: 80vw;
  height: 75vh;
  margin: .25rem .25rem .25rem .25rem;
  border-radius: 5px;
  padding: 1rem;
  border: .35px dashed cornsilk;
}

  @media screen and (min-width: 280px) {
    .objective {
      width: auto;
      height: auto;
  }
}


.pObjective {
  font-size: .5rem;
  color: cornsilk;
  text-indent: 30px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 10px;
  }
    @media screen and (min-width: 390px) {
      .pObjective {
        font-size: .85rem;
    }
  }
    @media screen and (min-width: 768px) {
      .pObjective {
        font-size: 1rem;
    }
  }
 

.txtCertifications {
  color: cornsilk;
  font-size: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
  @media screen and (min-width: 390px) {
    .txtCertifications {
      font-size: 1rem;
  }
}
  @media screen and (min-width: 768px) {
    .txtCertifications {
      font-size: 1.15rem;
  }
}


.certList {
  font-size: .5rem;
  color: cornsilk;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  list-style-type: none;
  padding: 0;
}
  @media screen and (min-width: 390px) {
    .certList {
      font-size: .75rem;
  }
}
  @media screen and (min-width: 768px) {
    .certList {
      font-size: .75rem;
  }
}

.txtEducation {
  color: cornsilk;
  font-size: .75rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
  @media screen and (min-width: 390px) {
    .txtEducation {
      font-size: 1rem;
  }
}
  @media screen and (min-width: 768px) {
    .txtEducation {
      font-size: 1.15rem;
  }
}


.education {
  margin-top: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}


.educationList {
  font-size: .5rem;
  color: cornsilk;
  margin-left: 10px;
  list-style-type: none;
  padding: 0;
}
  @media screen and (min-width: 390px) {
    .educationList {
      font-size: .75rem;
  }
}
  @media screen and (min-width: 768px) {
    .educationList {
      font-size: .75rem;
  }
}


.resumeLink {
  color: #F7EF8A;
  margin-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}
  @media screen and (min-width: 390px) {
    .resumeLink {
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 768px) {
    .resumeLink {
      font-size: 1.75rem;
  }
}

.resumeLink:visited {
  color: #AE8625;
}

.resumeLink:hover {
  color: cornsilk;
}


.portfolioLink {
  color: #F7EF8A;
  margin-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-decoration: none;
  font-size: 1rem;
}
  @media screen and (min-width: 390px) {
    .portfolioLink {
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 768px) {
    .portfolioLink {
      font-size: 1.75rem;
  }
}

.portfolioLink:visited {
  color: #AE8625;
}

.portfolioLink:hover {
  color: cornsilk;
}

