html {}

#mainHomeContainer {
    width: 100%;
    scroll-snap-type: y mandatory;
  max-height: 100vh;
  overflow-y: scroll;
    background-color: black;
    
    
}

.homeSections {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}