
html, body { 
  height: 100%;
  width: 100%;
  font-size: 100%;
 }
html {scroll-snap-type: y mandatory;}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

* {
  user-select: none;
}

ul {
  list-style-type: none;
}

.homeSections {
    scroll-snap-align: start;
  }
.aboutSections {
  scroll-snap-align: start;
}
.projectSections {
  scroll-snap-align: start;
}
.skillsSections {
  scroll-snap-align: start;
}
.kiraSections {
  scroll-snap-align: start;
}