
.taskContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.25rem;
}


.taskApp {
  width: 50vw;
  height: 50vh;
  margin-top: 1rem;
}


.taskCloseBtn {
  display: flex;
  justify-content: flex-end;
}


.taskCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  color: rgb(40, 40, 40, 0.8);
}
  @media screen and (min-width: 64em) {
    .taskCloseBtn button {
      font-size: 1.15rem;
  }
}
  @media screen and (min-width: 90em) {
    .taskCloseBtn button {
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 160em) {
    .taskCloseBtn button {
      font-size: 1.5rem;
  }
}


.taskCompiler {
  margin-bottom: 0.3125rem;
  text-align: center;
  font-family: 'Bakbak One', sans-serif;
  font-size: 1rem;
  color: rgb(40, 40, 40, 0.8);
}
  @media screen and (min-width: 23.5em) {
    .taskCompiler {
      font-size: 1.5rem;
  }
}
  @media screen and (min-width: 48em) {
    .taskCompiler {
      font-size: 2rem;
  }
}
  @media screen and (min-width: 90em) {
    .taskCompiler {
      font-size: 2.15rem;
  }
}
  @media screen and (min-width: 160em) {
    .taskCompiler {
      font-size: 3rem;
  }
}


.horizontalLine {
  border-color: rgb(40, 40, 40, 0.8);
  width: 55vw;
}


.taskForm {
  display: flex;
  flex-direction: row;
  flex-direction: row;
  position: relative;
}


.taskInput {
  position: relative;
  margin: auto;
  margin-top: 0.3125rem;
  margin-bottom: 1.25rem;
  padding: .3rem;
  border: 2px solid rgb(40, 40, 40, 0.8);
  background: rgb(40, 40, 40, 0.5);
  color: #F7EF8A;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
  @media screen and (min-width: 48em) {
    .taskInput {
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 90em) {
    .taskInput {
      padding: .5rem;
      font-size: 1.5rem;
  }
}
  @media screen and (min-width: 160em) {
    .taskInput {
      font-size: 1.75rem;
  }
}


.taskInput::placeholder {
  color: cornsilk;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
  @media screen and (min-width: 48em) {
    .taskInput::placeholder {
      font-size: 1.25rem;
    
  }
}
  @media screen and (min-width: 90em) {
    .taskInput::placeholder {
      font-size: 1.5rem;
    }
}
  @media screen and (min-width: 160em) {
    .taskInput::placeholder {
      font-size: 1.75rem;
    }
}



.taskInputUpdate {
  position: relative;
  margin: auto;
  margin-top: 0.625rem;
  padding: .5rem .5rem .5rem .5rem;
  border: 2px solid rgb(40, 40, 40, 0.8);
  background: rgb(40, 40, 40, 0.5);
  color: #F7EF8A;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
  @media screen and (min-width: 48em) {
    .taskInputUpdate {
      font-size: 1rem;
      padding: .5rem 1rem .5rem 1rem;
  }
}
  @media screen and (min-width: 90em) {
    .taskInputUpdate {
      padding: 1rem 2rem 1rem 2rem;
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 160em) {
    .taskInputUpdate {
      padding: 1.5rem 2rem 1.5rem 2rem;
      font-size: 1.5rem;
  }
}



.taskRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 0.625rem;
  padding: .3rem .5rem .3rem .5rem;
  border: 2px solid rgb(40, 40, 40, 0.8);
  background: rgb(40, 40, 40, 0.5);
  color: #F7EF8A;
  cursor: pointer;
  font-family: 'Play', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
  @media screen and (min-width: 48em) {
    .taskRow {
      font-size: 1rem;
  }
}
  @media screen and (min-width: 90em) {
    .taskRow {
      padding: 1rem 2rem 1rem 2rem;
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 160em) {
    .taskRow {
      padding: 1.5rem 2rem 1.5rem 2rem;
      font-size: 1.5rem;
  }
}


.complete {
  text-decoration: line-through;
  opacity: 0.5;
}


.icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1rem;
}
  @media screen and (min-width: 48em) {
    .icons {
      font-size: 1rem;
  }
}
  @media screen and (min-width: 90em) {
    .icons {
      font-size: 1.25rem;
  }
}
  @media screen and (min-width: 160em) {
    .icons {
      font-size: 3rem;
  }
}


.editIcon {
  margin-right: 0.4375rem;
  color: #F7EF8A;
}


.removeIcon {
  color: #F7EF8A;
}

