
.tttContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#board {
    width: 275px;
    height: 275px;
    background-color: rgb(40, 40, 40, 0.8);
    display: flex;
    flex-direction: column;
}
@media screen and (min-width: 768px) {
    #board {
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 1440px) {
    #board {
        width: 500px;
        height: 500px;
    }
}
@media screen and (min-width: 2560px) {
    #board {
        width: 1000px;
        height: 1000px;
    }
}

.tttTitle {
    color: rgb(40, 40, 40, 0.8);
    font-family: 'Bakbak One', sans-serif;
    font-size: 2rem;
}
@media screen and (min-width: 768px) {
    .tttTitle {
        font-size: 3rem;
    }
}
@media screen and (min-width: 1440px) {
    .tttTitle {
        font-size: 4rem;
    }
}
@media screen and (min-width: 2560px) {
    .tttTitle {
        font-size: 8rem;
    }
}

.tRow {
    flex: 33%;
    display: flex;
    flex-direction: row;
}

.square {
    flex: 33%;
    height: 100%;
    border: 1px solid #F7EF8A;
    cursor: pointer;
    display: grid;
    place-items: center;
    font-size: 2rem;
    color: cornsilk;
    user-select: none;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
@media screen and (min-width: 768px) {
    .square {
        font-size: 4rem;
    }
}
@media screen and (min-width: 1440px) {
    .square {
        font-size: 4rem;
    }
}
@media screen and (min-width: 2560px) {
    .square {
        font-size: 8rem;
    }
}

.square:active {
    background-color: rgb(40, 40, 40, 0.8);
}

.tttCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.tttCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: rgb(40, 40, 40, 0.8);
    margin-top: 20px;
}
@media screen and (min-width: 1440px) {
    .tttCloseBtn button {
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 2560px) {
    .tttCloseBtn button {
        font-size: 3rem;
    }
}