
.weatherAppContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}


.weatherWrapper {
    width: 75vw;
    height: 60vh;
    background: url('../images/bellingrath-gardens-alabama-landscapeTwo.jpg') no-repeat center center/cover;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 6px;
    position: relative;
    margin-top: 3rem;
}
    @media screen and (min-width: 48em) {
        .weatherWrapper {
            width: 40vw;
            height: 65vh;
            margin-top: 1.5rem;
    }
}
    
    @media screen and (min-width: 160em) {
        .weatherWrapper {
            width: 40vw;
            height: 70vh;
    }
}


.weatherCloseBtn {
    position: absolute;
    top: 0.125rem;
    right: 0.125rem;
    z-index: 1;
}

.weatherCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: cornsilk;
}
    @media screen and (min-width: 90em) {
        .weatherCloseBtn button {
            font-size: 1.25rem;
    }
}
    @media screen and (min-width: 160em) {
        .weatherCloseBtn button {
            font-size: 1.5rem;
    }
}

.weatherApp {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: cornsilk;
}


.search {
    text-align: center;
    margin-top: 2.5rem;
}


.weatherInput {
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgb(40, 40, 40, 0.5);
    color: cornsilk;
    padding: .25rem .5rem;
    font-size: 1rem;
}
    @media screen and (min-width: 48em) {
        .weatherInput {
            font-size: 1rem;
    }
}
    @media screen and (min-width: 90em) {
        .weatherInput {
            font-size: 1.25rem;
    }
}
    @media screen and (min-width: 160em) {
        .weatherInput {
            font-size: 1.5rem;
    }
}


 .weatherInput::placeholder {
    color: cornsilk;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    padding-top: .5rem;
}
    @media screen and (min-width: 48em) {
        .weatherInput::placeholder {
            font-size: 1.15rem;
    }
}
    @media screen and (min-width: 90em) {
        .weatherInput::placeholder {
            font-size: 1.25rem;
    }
}
    @media screen and (min-width: 160em) {
        .weatherInput::placeholder {
            font-size: 1.5rem;
    }
}


.day {
    margin-top: 0.625rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .75rem;
}
    @media screen and (min-width: 48em) {
        .day{
            font-size: 1rem;
    }
}
    @media screen and (min-width: 90em) {
        .day{
            font-size: 1.25rem;
    }
}
    @media screen and (min-width: 160em) {
        .day{
            font-size: 1.5rem;
    }
}


.top {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.skyBox {
    display: flex;
}


.paraLocation {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
    @media screen and (min-width: 48em) {
        .paraLocation{
            font-size: 1.5rem;
    }
}
    @media screen and (min-width: 90em) {
        .paraLocation{
            font-size: 1.75rem;
    }
}
    @media screen and (min-width: 160emx) {
        .paraLocation{
            font-size: 3rem;
    }
}


.paraSky {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
    @media screen and (min-width: 48em) {
        .paraSky{
            font-size: 1.5rem;
    }
}
    @media screen and (min-width: 90em) {
        .paraSky{
            font-size: 1.75rem;
    }
}
    @media screen and (min-width: 160em) {
        .paraSky{
            font-size: 3rem;
    }
}


.tempHome {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
    @media screen and (min-width: 48em) {
        .tempHome{
            font-size: 6rem;
    }
}
    @media screen and (min-width: 90em) {
        .tempHome{
            font-size: 7rem;
    }
}
    @media screen and (min-width: 160em) {
        .tempHome{
            font-size: 8rem;
    }
}


.weatherAppContainer .middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    width: 90%;
    border-radius: 0.625rem;
    background: rgb(40, 40, 40, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 0.1875rem;
    margin-bottom: 0.625rem;
}
    @media screen and (min-width: 160em) {
        .middle {width: 45vw;}
}


.para {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .75rem;
    margin: auto;
}
    @media screen and (min-width: 90em) {
        .para{
            font-size: 1.5rem;
    }
}
    @media screen and (min-width: 160em) {
        .para{
            font-size: 2rem;
    }
}



